@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

/*RESET

* {
    margin: 0;
    padding: 0;
    border: 0;
}*/

body,
p {
    background-color: black;
    font-family: "Source Sans Pro", sans-serif;
    color: lavender;
}

title,
h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: lavender;
}

button {
    font-size: 15px;
}

input {
    width: 30px;
    font-size: 15px;
}

.form {
    display: block;
}